<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon-precomposed.png' %>">
</head>
<body>

<% if user_signed_in? %>
  <span class="user-actions">Welcome, <%= current_user.username.capitalize %>! | <%= link_to "Logout", destroy_user_session_path %> </span>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
